body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 300;
    height: 100vh;
    background-color: azure;
}

header {
    background: crimson;
    padding: 40;
    text-align: center;
    color: white;
    font-size: large;
    font-style: italic;
    margin: auto;
}

.paragraph{
    font-size: 30;
    font-weight: bold;
    font-style: italic;
}

.flex{
    display: flex;
}

aside{
    width: 40%;
    margin-right: 40px;
}

section{
    width: 70%;
}

#search{
    background-color: crimson;
    padding: 5px;
    font-size: 1.3em;
}

.column{
    display:flex;
    flex-direction: column;
    border-top: 3px darkblue;
    padding-top: 7px;
    margin-top: 7px;
}

.column button {
    background-color: azure;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 8px;
}

.location {
    border: 1px solid blue;
    padding: 30px;
}

.card-container {
    display: flex;
    justify-content: space-between;
}

.card {
    background-color: crimson;
    width: 100%;
    color: white;
    margin-right: 30px;
    padding: 20px;
}

.currentUV {
    padding: 10px 20px;
    border: 8px;
}

.img {
   width: 20px;
   padding: 35px;
   height: 20px;
}

.green{
    background-color: lightgreen;
}

.yellow{
    background-color: yellow;
}

.red{
    background-color: red;
}

.background_img {
   border-radius: 30;
   width: 20px;
   padding: 35px;
   height: 20px;
}
